<p class="titulos">Agregar Auto</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container mt-5">
  <div class="row md-form">
    <div class="col">
      <input type="text" class="form-control" placeholder="Numero Eco" />
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Año" />
    </div>
  </div>

  <div class="row mt-3 md-form">
    <div class="col">
      <input type="text" class="form-control" placeholder="Ubicacion" />
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Numero de Serie" />
    </div>
  </div>

  <div class="row mt-3 md-form">
    <div class="col">
      <input type="text" class="form-control" placeholder="Modelo" />
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Escibe las Placas" />
    </div>
  </div>
</div>
