<p class="titulos">Agregar Reporte De Venta</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container mt-5">
  <form class="login100-form validate-form">
    <ng-container [formGroup]="formulario">
      <div class="row md-form">
        <div class="col">
          <div class="text-center d-block">
            Grupo al que perteneces
          </div>
          <input
            type="text"
            class="form-control text-center"
            name="marca"
            disabled
            formControlName="marca"
            [(ngModel)]="credentialsRV.marca"
            [ngClass]="{
              'is-valid': ValidarFormulario('marca').error == false,
              'is-invalid': ValidarFormulario('marca').error == true
            }"
          />
          <div
            *ngIf="ValidarFormulario('marca').error"
            class="text-center invalid-feedback d-block"
          >
            {{ ValidarFormulario("marca").message }}
          </div>
        </div>
        <div class="col">
          <div class="text-center d-block">
            Ubicación
          </div>
          <input
            type="text"
            class="form-control text-center"
            name="region"
            disabled
            formControlName="region"
            [(ngModel)]="credentialsRV.region"
            [ngClass]="{
              'is-valid': ValidarFormulario('region').error == false,
              'is-invalid': ValidarFormulario('region').error == true
            }"
          />
          <div
            *ngIf="ValidarFormulario('region').error"
            class="text-center invalid-feedback d-block"
          >
            {{ ValidarFormulario("region").message }}
          </div>
        </div>
        <div class="col">
          <div class="text-center d-block">
            Fecha
          </div>
          <input
            type="text"
            disabled
            class="form-control text-center"
            value="{{ fecha }}"
          />
        </div>
      </div>
      <div class="row md-form">
        <div class="col">
          <div class="text-center d-block">
            Auto
          </div>
          <input
            type="text"
            class="form-control text-center"
            name="auto"
            placeholder="Ingresa El Auto"
            formControlName="auto"
            [(ngModel)]="credentialsRV.auto"
            [ngClass]="{
              'is-valid': ValidarFormulario('auto').error == false,
              'is-invalid': ValidarFormulario('auto').error == true
            }"
          />
          <div
            *ngIf="ValidarFormulario('auto').error"
            class="text-center invalid-feedback d-block"
          >
            {{ ValidarFormulario("auto").message }}
          </div>
        </div>
        <div class="col">
          <div class="text-center d-block">
            Cilindros Vacios
          </div>
          <input
            type="text"
            class="form-control text-center"
            name="Cilidros_Vacios"
            placeholder="Ingresa Los Cilindros Vacios"
            formControlName="Cilidros_Vacios"
            [(ngModel)]="credentialsRV.Cilidros_Vacios"
            [ngClass]="{
              'is-valid': ValidarFormulario('Cilidros_Vacios').error == false,
              'is-invalid': ValidarFormulario('Cilidros_Vacios').error == true
            }"
          />
          <div
            *ngIf="ValidarFormulario('Cilidros_Vacios').error"
            class="text-center invalid-feedback d-block"
          >
            {{ ValidarFormulario("Cilidros_Vacios").message }}
          </div>
        </div>
        <div class="col">
          <div class="text-center d-block">
            Venta Por Kilos
          </div>
          <input
            type="text"
            class="form-control text-center"
            name="Venta_Kilos"
            placeholder="Ingresa Los Cilindros Vacios"
            formControlName="Venta_Kilos"
            disabled
            [(ngModel)]="credentialsRV.Venta_Kilos"
            [ngClass]="{
              'is-valid': ValidarFormulario('Venta_Kilos').error == false,
              'is-invalid': ValidarFormulario('Venta_Kilos').error == true
            }"
          />
          <div
            *ngIf="ValidarFormulario('Venta_Kilos').error"
            class="text-center invalid-feedback d-block"
          >
            {{ ValidarFormulario("Venta_Kilos").message }}
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
