<p class="titulos">Agregar Reporte De Venta</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container mt-5">
  <form class="login100-form validate-form">
    <ng-container [formGroup]="formulario">
      <div class="row md-form">
        <div class="col">
          <div class="text-center d-block">
            Grupo al que perteneces
          </div>
          <input
            type="text"
            class="form-control text-center"
            name="marca"
            formControlName="marca"
            [(ngModel)]="credentialsRV.marca"
            [ngClass]="{
              'is-valid': ValidarFormulario('marca').error == false,
              'is-invalid': ValidarFormulario('marca').error == true
            }"
          />
          <div
            *ngIf="ValidarFormulario('marca').error"
            class="text-center invalid-feedback d-block"
          >
            {{ ValidarFormulario("marca").message }}
          </div>
        </div>
        <div class="col">
          <div class="text-center d-block">
            Ubicación
          </div>
          <input
            type="text"
            class="form-control text-center"
            name="region"
            formControlName="region"
            [(ngModel)]="credentialsRV.region"
            [ngClass]="{
              'is-valid': ValidarFormulario('region').error == false,
              'is-invalid': ValidarFormulario('region').error == true
            }"
          />
          <div
            *ngIf="ValidarFormulario('region').error"
            class="text-center invalid-feedback d-block"
          >
            {{ ValidarFormulario("region").message }}
          </div>
        </div>
        <div class="col">
          <div class="text-center d-block">
            Fecha
          </div>
          <input
            type="text"
            class="form-control text-center"
            value="{{ fecha }}"
          />
        </div>
      </div>
    </ng-container>
  </form>
</div>
