<p class="titulos">Lista de Usuarios</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container">
  <div class="buttonContainer">
    <button
      mdbBtn
      type="button"
      (click)="GoToAgregarUsuario()"
      class="colorbtn"
      mdbWavesEffect
    >
      Agregar Usuario
    </button>
  </div>

  <div *ngIf="!loading" class="contenedorload">
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="loading" class="table-responsive mt-5">
    <table class="table">
      <thead>
        <tr class="ttabla">
          <th>USUARIO</th>
          <th>TIPO DE USUARIO</th>
          <th>REGION</th>
          <th class="operaciones">OPERACIONES</th>
        </tr>
      </thead>
      <tbody hover="true">
        <tr *ngFor="let usuario of UsuariosListados">
          <td class="tc">{{ usuario.usuario }}</td>
          <td class="tc">{{ usuario.user_type }}</td>
          <td class="tc">{{ usuario.region }}</td>
          <td class="operacionesBoton">
            <button class="btn btn-outline-danger">
              <mat-icon>delete_forever</mat-icon>
            </button>
            <button class="btn btn-outline-warning">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
