<p class="titulos">Lista de Usuarios</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container">
  <div class="buttonContainer">
    <button
      mdbBtn
      type="button"
      (click)="GoToAgregarUsuario()"
      class="colorbtn"
      mdbWavesEffect
    >
      Agregar Usuario
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

</div>
