<p class="titulos">Buscar Ventas Por Fecha</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container">
  <div class="buttonContainer">
    <form class="login100-form validate-form">
      <ng-container [formGroup]="formulario">
        <div class="row md-form">
          <div class="col">
            <div class="text-center d-block">Selecciona la fecha</div>
            <input
              type="date"
              class="form-control text-center"
              name="fecha"
              formControlName="fecha"
              [(ngModel)]="credentialsRV.fecha"
              [ngClass]="{
                'is-valid': ValidarFormulario('fecha').error == false,
                'is-invalid': ValidarFormulario('fecha').error == true
              }"
            />
            <div
              *ngIf="ValidarFormulario('fecha').error"
              class="text-center invalid-feedback d-block"
            >
              {{ ValidarFormulario("fecha").message }}
            </div>
          </div>
        </div>
      </ng-container>

      <div class="boton">
        <button type="submit" (click)="BuscarVentas()" class="btn agregarUser">
          Buscar Ventas
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="!loading" class="contenedorload">
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!loading" class="text-center d-block">
    Debes seleccionar una fecha
  </div>

  <div *ngIf="loading" class="contenedor">
    <div class="table-responsive mt-5">
      <table class="table">
        <thead>
          <tr class="ttabla">
            <th>Auto</th>
            <th>Cilindros Vacios</th>
            <th>Ventas Kilos</th>
            <th>P.Prom</th>
            <th>Importe a Liquidar</th>
            <th>Recibe Caja / Efectivo</th>
            <th>OPERACIONES</th>
          </tr>
        </thead>
        <tbody hover="true">
          <tr
            appTablehover
            *ngFor="
              let VentaRV of VentasData
                | filter: BuscadorDeVentas
                | paginate: { itemsPerPage: 5, currentPage: pageActual }
            "
          >
            <td class="tc">{{ VentaRV.auto }}</td>
            <td class="tc">{{ VentaRV.Cilidros_Vacios }}</td>
            <td class="tc">{{ VentaRV.Venta_Kilos }}</td>
            <td class="tc">{{ VentaRV.Precio_Prom }}</td>
            <td class="tc">{{ VentaRV.Importe_Liquidar | number: "1.2-2" }}</td>
            <td class="tc">{{ VentaRV.Recibe_caja_efectivo }}</td>
            <td class="operaciones">
              <button
                class="btn btn-outline-danger"
                (click)="ElimiarVenta(VentaRV.id_RV)"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
              <button
                class="btn btn-outline-warning"
                (click)="EditarVenta(VentaRV.id_RV)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                class="btn btn-outline-info"
                (click)="VerVentaInfor(VentaRV.id_RV)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </tr>


          <tr class="ttablaTotales" *ngIf="loading">
            <td class="th"></td>
            <td class="th">Total Kilos:</td>
            <td class="th LetraBold">{{ T_Kilos }}</td>
            <td class="th">Total Cil:</td>
            <td class="th LetraBold">{{ T_Cil | number: "1.2-2" }}</td>
            <td class="th LetraBold">{{ T_RecibeEfectivo | number: "1.2-2" }}</td>
          </tr>
          <tr class="ttablaTotales" *ngIf="loading">
            <td class="th"></td>
            <td class="th">Credito Cilindro:</td>
            <td class="th LetraBold">{{ T_credito_Cil }}</td>
            <td class="th"></td>
            <td class="th">Importe Credito:</td>
            <td class="th LetraBold">{{ T_ImporteCredito }}</td>
          </tr>
          <tr class="ttablaTotales" *ngIf="loading">
            <td class="th"></td>
            <td class="th">Total Inv Cil:</td>
            <td class="th LetraBold">{{ T_INV_CIL }}</td>
            <td class="th"></td>
            <td class="th">Total Equiv KG:</td>
            <td class="th LetraBold">{{ T_EquivKG }}</td>
          </tr>




        </tbody>
      </table>
      <div *ngIf="loading" class="mt-4 float-right">
        <pagination-controls
          (pageChange)="pageActual = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
