<p class="titulos">Reportes De Ventas</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container">
  <div class="row">
    <button
      mdbBtn
      type="button"
      class="colorbtn"
      (click)="AgregarVenta()"
      mdbWavesEffect
    >
      Agregar Venta
    </button>

    <button mdbBtn type="button" class="colorbtn" mdbWavesEffect>
      Buscar Reportes De Venta
    </button>
  </div>
</div>

<div *ngIf="!loading" class="contenedorload">
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="contenedorInput" *ngIf="loading">
  <div class="form-inline md-form form-sm centrar">
    <span class="iconColor">
      <mdb-icon
        fas
        icon="search"
        style="color: white;"
        aria-hidden="true"
      ></mdb-icon>
    </span>

    <input
      [(ngModel)]="serach_VRhoy"
      class="form-control form-control-sm ml-3 w-75"
      type="text"
      placeholder="Buscar"
      aria-describedby="helpId"
      aria-label="Search"
      mdbInput
    />
  </div>
</div>

<div class="contenedor" *ngIf="loading">
  <p class="titulosVenta">Venta Actual</p>

  <div class="table-responsive mt-3">
    <table class="table">
      <thead>
        <tr class="ttabla">
          <th>Auto</th>
          <th>Cilindros Vacios</th>
          <th>Ventas Kilos</th>
          <th>P.Prom</th>
          <th>Importe a Liquidar</th>
          <th>Recibe Caja / Efectivo</th>
          <th>OPERACIONES</th>
        </tr>
      </thead>
      <tbody hover="true">
        <tr
          appTablehover
          *ngFor="
            let hoyVenta of VentaAct
              | filter: serach_VRhoy
              | paginate: { itemsPerPage: 5, currentPage: pageActual }
          "
        >
          <td class="tc">{{ hoyVenta.auto }}</td>
          <td class="tc">{{ hoyVenta.Cilidros_Vacios }}</td>
          <td class="tc">{{ hoyVenta.Venta_Kilos }}</td>
          <td class="tc">{{ hoyVenta.Precio_Prom }}</td>
          <td class="tc">{{ hoyVenta.Importe_Liquidar | number: "1.2-2" }}</td>
          <td class="tc">{{ hoyVenta.Recibe_caja_efectivo }}</td>
          <td class="operaciones">
            <button
              class="btn btn-outline-danger"
              (click)="ElimiarVenta(hoyVenta.id_RV)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
            <button
              class="btn btn-outline-warning"
              (click)="EditarVenta(hoyVenta.id_RV)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="btn btn-outline-info"
              (click)="VerVentaInfor(hoyVenta.id_RV)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </tr>
        <tr class="ttablaTotales">
          <td class="th"></td>
          <td class="th">Kilos:</td>
          <td class="th">{{ T_Kilos }}</td>
          <td class="th">Total Cil:</td>
          <td class="th">{{ T_Cil | number: "1.2-2" }}</td>
          <td class="th">{{ T_RecibeEfectivo | number: "1.2-2" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="mt-4 float-right">
      <pagination-controls
        (pageChange)="pageActual = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</div>
