<p class="titulos">Unidades de Autos</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container">
  <div class="buttonContainer">
    <button
      mdbBtn
      type="button"
      (click)="GoToAgregarAuto()"
      class="colorbtn"
      mdbWavesEffect
    >
      Agregar Auto
    </button>
  </div>

  <div class="table-responsive mt-5">
    <table class="table">
      <thead>
        <tr class="ttabla">
          <th>Num Eco</th>
          <th>Año</th>
          <th>Ubicación</th>
          <th>Numero de serie</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Placas</th>
          <th>Chofer/Ruta</th>
          <th>Cilindros pzas</th>
          <th class="operaciones">OPERACIONES</th>
        </tr>
      </thead>
      <tbody hover="true">
        <tr appTablehover *ngFor="let Auto of AutosListados">
          <td class="tc" >{{ Auto.Num_eco }}</td>
          <td class="tc" >{{ Auto.anio }}</td>
          <td class="tc" >{{ Auto.ubicacion }}</td>
          <td class="tc" >{{ Auto.num_serie }}</td>
          <td class="tc" >{{ Auto.marca_auto }}</td>
          <td class="tc" >{{ Auto.modelo }}</td>
          <td class="tc" >{{ Auto.placas }}</td>
          <td class="tc" >{{ Auto.chofer_ruta }}</td>
          <td class="tc" >{{ Auto.cilindros_piezas }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
