<p class="titulos">Unidades de Auto Tanques</p>

<div class="lineas">
  <div class="LA"></div>
  <div class="LR"></div>
</div>

<div class="container">
  <div class="buttonContainer">
    <button
      mdbBtn
      type="button"
      routerLink="/SupervisorProfile/Agregar_AutoTanque"
      class="colorbtn"
      mdbWavesEffect
    >
      Agregar Auto Tanque
    </button>
  </div>

  <div *ngIf="!loading" class="contenedorload">
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="loading" class="form-inline md-form form-sm centrar">
    <span class="iconColor">
      <mdb-icon
        fas
        icon="search"
        style="color: white;"
        aria-hidden="true"
      ></mdb-icon>
    </span>
    <input
      [(ngModel)]="Buscador_AutosTanques"
      class="form-control form-control-sm ml-3 w-75"
      type="text"
      placeholder="Buscar"
      aria-describedby="helpId"
      aria-label="Search"
      mdbInput
    />
  </div>
</div>

<div *ngIf="loading" class="contenedor">
  <div class="table-responsive mt-5">
    <table class="table">
      <thead>
        <tr class="ttabla">
          <th>Num Eco</th>
          <th>Año</th>
          <th>Ubicación</th>
          <th>Numero de serie</th>
          <th>Placas</th>
          <th>Chofer/Ruta</th>
          <th>Auto Tanque</th>
          <th>OPERACIONES</th>
        </tr>
      </thead>
      <tbody hover="true">
        <tr
          appTablehover
          *ngFor="
            let AutoTanque of AutosListados
              | filter: Buscador_AutosTanques
              | paginate: { itemsPerPage: 5, currentPage: pageActual }
          "
        >
          <td class="tc">{{ AutoTanque.Num_eco }}</td>
          <td class="tc">{{ AutoTanque.anio }}</td>
          <td class="tc">{{ AutoTanque.ubicacion }}</td>
          <td class="tc">{{ AutoTanque.num_serie }}</td>

          <td class="tc">{{ AutoTanque.placas }}</td>
          <td class="tc">{{ AutoTanque.chofer_ruta }}</td>
          <td class="tc">{{ AutoTanque.AutoTanque }}</td>
          <td class="operaciones">
            <button
              class="btn btn-outline-danger"
              (click)="Eliminar(AutoTanque.id_autoTanque)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
            <button
              class="btn btn-outline-warning"
              (click)="GoToEditar(AutoTanque.id_autoTanque)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="btn btn-outline-info"
              (click)="GoToVerInfo(AutoTanque.id_autoTanque)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="loading" class="mt-4 float-right">
      <pagination-controls
        (pageChange)="pageActual = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</div>
